.bg-m{
    background-image: url('../../assets/wallpapers/math_wallpaper.jpg');
    background-size: contain;
}

.bg-m::before{
    width: 100vw;
    height: 100vh;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
}